/* w3schools menu styles */
/* General Styles */
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
.icon {
  width: 2rem;
  height: 2rem;
}
.btn {
  border: none;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  border-radius: 2rem;
}
.btn-icon {
  background-color: transparent;
  padding: 1rem;
}
.btn-icon .icon:hover {
  fill: #04aa6d;
}
.bg-dark {
  background-color: #282a35;
  color: #fff;
}
.bg-pink {
  background-color: #ffc0c7;
}
.bg-yellow {
  background-color: #fff4a3;
}
.bg-green {
  background-color: #04aa6d;
  color: #fff;
}

/* Component specific styles */
.logo {
  max-width: 50px;
  margin: 0 1rem;
}
.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.main-nav-list,
.nav-actions,
.secondary-nav {
  list-style: none;
  display: flex;
  /* flex-wrap: wrap; */
}

.main-nav-link a {
  font-weight: 600;
  letter-spacing: 0.75px;
  /* We set display block and padding on a:link to make the whole li clickable, not just the center of it which is the tag a */
  display: block;
  padding: 2.5rem 3rem;
}
.burger-menu {
  display: none;
}

.main-nav-link:hover {
  background-color: #04aa6d;
  color: #fff;
}
.nav-actions {
  margin-left: auto;
  gap: 1rem;
}

.secondary-nav {
  gap: 1rem;
}

/* responsive */

@media (width<=1400px) {
  .main-nav-link a {
    padding: 2rem;
  }
  .menu,
  .nav-actions,
  .secondary-nav {
    gap: 0.5rem;
  }
  .secondary-nav .btn:not(:last-of-type) {
    display: none;
  }
}
@media (width<=800px) {
  .main-nav-link:not(:first-of-type) {
    display: none;
  }
  .burger-menu {
    display: initial;
  }
}
@media (width<=480px) {
  .main-nav-link a {
    padding: 1rem;
  }
  .btn-icon {
    padding: 1rem 0.5rem;
  }
  .theme {
    display: none;
  }
}
