<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../general.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="menu">
      <a href="#">
        <img
          class="logo"
          src="img/W3Schools_logo.medium.svg.webp"
          alt="W3Schools Logo"
        />
      </a>

      <nav class="main-nav">
        <ul class="main-nav-list">
          <li class="main-nav-link burger-menu"><a href="#">Menu</a></li>
          <li class="main-nav-link"><a href="#">Tutorials</a></li>
          <li class="main-nav-link"><a href="#">References</a></li>
          <li class="main-nav-link"><a href="#">Exercises</a></li>
          <li class="main-nav-link"><a href="#">Videos</a></li>
        </ul>
      </nav>
      <ul class="nav-actions">
        <li>
          <button class="btn btn-icon theme">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="icon"
            >
              <path
                fill-rule="evenodd"
                d="M7.455 2.004a.75.75 0 01.26.77 7 7 0 009.958 7.967.75.75 0 011.067.853A8.5 8.5 0 116.647 1.921a.75.75 0 01.808.083z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>
        <li>
          <button class="btn btn-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="icon"
            >
              <path
                d="M15.75 8.25a.75.75 0 01.75.75c0 1.12-.492 2.126-1.27 2.812a.75.75 0 11-.992-1.124A2.243 2.243 0 0015 9a.75.75 0 01.75-.75z"
              />
              <path
                fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM4.575 15.6a8.25 8.25 0 009.348 4.425 1.966 1.966 0 00-1.84-1.275.983.983 0 01-.97-.822l-.073-.437c-.094-.565.25-1.11.8-1.267l.99-.282c.427-.123.783-.418.982-.816l.036-.073a1.453 1.453 0 012.328-.377L16.5 15h.628a2.25 2.25 0 011.983 1.186 8.25 8.25 0 00-6.345-12.4c.044.262.18.503.389.676l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.575 15.6z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </li>
        <li>
          <button class="btn btn-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
              />
            </svg>
          </button>
        </li>
      </ul>
      <div class="secondary-nav">
        <button class="btn bg-dark">Upgrade</button>
        <button class="btn bg-pink">Get Certified</button>
        <button class="btn bg-yellow">Free Website</button>
        <button class="btn bg-green">Log in</button>
      </div>
    </header>
  </body>
</html>
