<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../general.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="menu">
      <a href="#">
        <img
          class="logo"
          src="img/W3Schools_logo.medium.svg.webp"
          alt="W3Schools Logo"
        />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li class="main-nav-link active"><a href="#">Tutorials</a></li>
          <li class="main-nav-link"><a href="#">References</a></li>
          <li class="main-nav-link"><a href="#">Exercises</a></li>
          <li class="main-nav-link"><a href="#">Videos</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
